.article-card {
  margin-bottom: 20px;
  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: $gray-500;
    &:before {
      content: "No image found";
      color: #fff;
    }
  }
  &--description {
    font-style: italic;
    color: $gray-500;
    margin-bottom: 20px;
  }
  &--text {
  }
  .author {
    padding-bottom: 10px;
    font-size: 12px;
    color: #999;
  }
}