.article-card {
  margin-bottom: 20px;
  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #999;
    &:before {
      content: "No image found";
      color: #fff;
    }
  }
  &--text {
    max-height: 100px;
    overflow: hidden;
  }
}