@import 'bootstrap/scss/bootstrap';
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_jumbotron';
@import 'layout/_article_card';
@import 'layout/_pagination';
body {
  min-height: 100vh;
  background: $light;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.container, .container-fluid {
  flex: 1;
}

.default-block {
  padding: 20px;
  background: $white;
  border: 1px solid $gray-300;
  border-radius: 5px;
}