<footer class="footer bg-dark text-white">
  <span>2021 All rights reserved &copy;</span>
  <span>Developed by: <%= link_to "Me", "https://github.com/Dima-Yu", target: "_blank", class: "text-white" %></span>
</footer>